@media screen and (max-width: 480px) {
  header {
    display: block;
  }

  .header_left {
    justify-content: center;
    padding: 10px;
  }

  .header_list {
    height: 40px;
    width: 100%;
  }

  .top_section h1 {
    font-size: 32px;
    line-height: 1.4em;
    padding-top: 200px;
  }

  .service_list {
    display: block;
  }

  .service_list li {
    width: 80%;
    margin: 0 auto;
  }

  .service_list li:not(:last-child) {
    margin-bottom: 20px;
  }

  .information_section img {
    display: none;
    visibility: hidden;
  }

  .information_section .container div {
    width: 100%;
  }

  .information p {
    width: 80%;
    margin: 0 auto;
  }

  .preresult_list {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .preresult_list li {
    width: 45%;
    padding: 0;
    margin-bottom: 34px;
  }

  .preresult_list li:not(:last-child) {
    border: none;
  }

  .preresult_list li p:first-child {
    font-size: 24px;
  }

  .preresult_list li span {
    font-size: 12px;
  }

  .result_list li {
    width: 90%;
    margin: 0 auto;
  }

  .result_list li:not(:last-child) {
    margin-bottom: 10px;
  }

  .client_list {
    margin-top: 0;
    display: block;
    text-align: center;
  }

  .client_list li:not(:last-child) {
    margin-bottom: 40px;
  }

  .contact_wrapper {
    display: block;
  }

  .contact_wrapper .contact_form {
    width: 80%;
    margin: 0 auto 30px auto;
  }
  .contact_right {
    width: 80%;
    margin: 0 auto;
  }

  footer .container {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .footer_left {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 900px) {
  .header_left {
    display: flex;
    align-items: center;
    background-color: rgb(224, 202, 0);
    width: auto;
    height: 100%;
    padding: 20px 50px;
    color: #333;
  }

  .information_section img {
    left: 50%;
  }

  .client_list {
    width: 80%;
    margin: 100px auto 0 auto;
  }

  .contact_wrapper,
  footer {
    width: 90%;
    margin: 0 auto;
  }
}
